// GLOBAL
body {
  font-family: $fontFamily;
}

p {
  margin: 0;
}

// SECTION
.section {
  margin: auto;
  width: 400px;

  @include mq(tablet) {
    width: 700px;
  }

  @include mq(desktop) {
    width: 1200px;
  }
}

.hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
