// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

// VARS
$fontFamily: 'Montserrat', sans-serif;
$fontBold: 'Comfortaa', cursive;

$bgColor: #393939;
$whiteColor: #fff;
$primaryColor: #d554d3;

$borderRadius: 20px;

$shift: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// GLOBAL
body {
  font-family: $fontFamily;
}

.nav {
  background-color: $bgColor;
  height: 80px;
  display: flex;
  align-items: center;

  &__title {
    font-family: $fontBold;
    color: $whiteColor;
    font-size: 36px;
  }
}

.section {
  width: 1200px;
  margin: auto;
}

.nav__flex {
  display: flex;
  gap: 50px;
}
