<div class="nav">
  <div class="section nav__flex">
    <span class="nav__title">Image Search</span>
    <form class="search-form" id="search-form">
      <input
        class="form__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button class="form__button" type="submit">
        <span class="material-symbols-outlined"> search </span>
      </button>
    </form>
  </div>
</div>
<div class="section">
  <div class="gallery"></div>
  <button type="button" class="hidden load-more">Load more</button>
</div>
