// BTN LOAD-MORE
.load-more {
  border-radius: $borderRadiusM;
  color: $whiteColor;
  background-color: $primaryColor;
  padding: 10px;
  border: 0;
  margin: 10px auto;
  transition: background-color $shift;
  display: block;

  &:hover {
    background-color: $hoverColor;
  }
}
