.gallery {
  margin-top: 100px;

  &__img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.4s;
  }
}

.photo-card {
  width: 100%;
  box-shadow: $boxShadow;

  margin: 0 auto;
  margin-bottom: 15px;

  @include mq(tablet) {
    width: calc((100% - 2 * 10px) / 2);
  }

  @include mq(desktop) {
    width: calc((100% - 2 * 15px) / 3);
    position: relative;
    overflow: hidden;
  }
}

.info {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;

  @include mq(desktop) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;

    .photo-card:hover & {
      opacity: 1;
      z-index: 1;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    font-size: 14px;
  }
}

.photo-card.is-loading {
  background-color: $lightGray;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/abfa05c49acf005b8b1e0ef8eb25a67a7057eb20/svg-css/pulse-ring.svg');
  background-size: 30px;

  & img {
    opacity: 0;
  }

  & .info {
    opacity: 0;
  }
}

p.message {
  display: flex;
  justify-content: center;
  padding: 20px;
}
