// NAV
.nav {
  background-color: $whiteColor;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: $boxShadow;
  border-bottom: 1px solid $lightGray;

  &__title {
    font-family: $fontBold;
    color: $blackColor;
    font-size: 16px;

    @include mq(tablet) {
      font-size: 20px;
    }

    @include mq(desktop) {
      font-size: 26px;
    }

    .nav.scrolled & {
      display: none;
    }
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    @include mq(tablet) {
      gap: 30px;
    }

    @include mq(desktop) {
      gap: 50px;
    }
  }
}

.nav-scroll {
  transition: height $shift;

  &.scrolled {
    height: 50px;
  }
}
