.search-form {
  background-color: $whiteColor;
  height: 30px;
  padding: 10px;
  border-radius: $borderRadiusM;

  @include mq(desktop) {
    height: 40px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  &:hover .form__button:hover {
    color: $primaryColor;
  }
}

.form {
  &__input,
  &__button {
    border: 0;
  }

  &__input {
    outline: none;
  }

  .search-form:hover &__input::placeholder {
    color: $primaryColor;
  }

  &__button {
    background-color: transparent;
    color: $navColor;
    position: relative;
    display: block;
    width: 24px;
    height: 24px;

    .search-form:hover & {
      color: $primaryColor;
    }

    &:hover {
      color: $primaryColor;
    }
  }
}

.icon-search {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform $shift;
  &:hover {
    transform: scale(1.3);
  }
}
