.search-form {
  background-color: $whiteColor;
  border: 1px solid $lightGray;
  border-radius: $borderRadiusM;
  padding: 5px;

  @include mq(desktop) {
    height: 40px;
    gap: 30px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  &:hover .form__button:hover {
    color: $primaryColor;
  }

  &:hover .icon-search {
    transform: scale(1.3);
  }

  &:focus-within {
    border-color: $blackColor;
  }
}

.form {
  &__input,
  &__button {
    border: 0;
    padding: 5px 10px;
    margin: 0;
  }

  &__input {
    outline: none;
    border-top-left-radius: $borderRadiusM;
    border-bottom-left-radius: $borderRadiusM;
  }
  &__input::placeholder {
    color: $lightGray;
  }

  .search-form:hover &__input::placeholder {
    color: $activeColor;
  }

  &__button {
    background-color: transparent;
    color: $lightGray;

    border-top-right-radius: $borderRadiusM;
    border-bottom-right-radius: $borderRadiusM;

    .search-form:hover & {
      color: $activeColor;
    }

    &:hover {
      color: $primaryColor;
    }
  }
}

.icon-search {
  transition: transform $shift;
  &:hover {
    color: $blackColor;
  }
}

.loader {
  height: 50px;
  display: block;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/abfa05c49acf005b8b1e0ef8eb25a67a7057eb20/svg-css/3-dots-fade.svg');
  background-size: 50px;
}
